# Compiled object files
*.o
*.obj
*.pdb
*.exe
*.dll
*.lib
*.app
*.dylib
*.so

# Precompiled Headers
*.gch
*.pch

# Compiled Static Libraries
*.a
*.la
*.lo

# Compiled Dynamic Libraries
*.dylib
*.so
*.so.*
*.dll

# Unreal Engine folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Ignore project files that can be regenerated
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Ignore IDE/editor settings
.vscode/
.idea/
*.iml
*.iws
*.ipr

# Ignore Mac system files
.DS_Store

# Ignore Windows system files
Thumbs.db
desktop.ini

# Ignore crash reports
*.dmp
